/* targetting all body and changing back-colour and font settings */
body{
    background-color: rgb(231, 231, 231);
    /* changing the font family */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

/* creating background colour for all header and footer */
header, footer{
    background-color: rgb(255, 196, 0);
}

/* targetting id ".site-title" to style the title of the site */
.site-title{

    color:rgb(231, 231, 231);

}

/* remove text underline for links */
a:link{
    text-decoration: none;
}

/* targetting the id "my-image" and apply the styling */

#my-image{

    box-shadow:0px 0px 2px 1px  black;

}

/* targetting any that uses the tag ul from the top to bottom to apply a back-colour 
2n-1 for odd number rows
*/
ul:nth-child(2n-1){
    background-color: rgb(0, 132, 255);
}

/* targetting top nav links of the site  */
.site-top-links{

    background-color: rgb(0, 132, 255);
    border-style: dotted;

}

/* any visited links will be apply to the styling */
a:visited{
    color:green;
}

/* any hovering links will be apply to the styling  */
a:hover{
    color:red;
}

