/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/***********************************************************
                            MOBILE
***********************************************************/


html{
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
    font-size: 250%;
    font-weight: bold;
}

h2{
    font-size: 150%;
    font-weight: bold;
}

h3{
        font-size: 100%;
        font-weight: bold;
}


/***********************************************************
                                NAV
***********************************************************/
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
}

li a:hover {
    background-color: #c78c06;
    margin-left: 5%;
    margin-right: 5%;
    color:black;
  }

li a{
    display: block;
    color: #c78c06;
}


nav ul{
    text-align: center;
}

nav li{
    display: inline;
}

nav li a{
    text-align: center;
    position: relative;

    padding: 20px;
}

nav a{
    margin:0 0;/* Xpx on the top and bottom, Xpx on the left and right*/
    text-decoration: none;/* removes the underline default from the links */
}

form{
    text-align: center;
}

nav ul {
    overflow: hidden;
}

/* size of the search bar */
nav ul input[type=text] {
    padding: 6px;
    font-size: 17px;
}

footer p{
    font-size: 12px;
    margin-left: 2%;
    color: #c78c06;
}
footer{
    background-color: #222;
}

.map{
    width: 100%;
    height: 300px;
    margin-bottom: 2%;
}

#message, #useremail, #username{
    margin-top: 5px;
    width: 335px;
    height: 15px;
}

#message{
    height: 100px;
}

/***********************************************************
                            TABLE
***********************************************************/
.business-hour{
    padding-bottom: 5%;
}
td{
    padding-left: 2%;
}
table{
    width: 100%;
    line-height: 40px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

tr:nth-child(1) {
    background-color: #ffe6ac;
}
/***********************************************************
                        END OF TABLE
***********************************************************/

/***********************************************************
                        CONTACT SECTION
***********************************************************/
.information{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10%;
}
.information h2{
    margin-bottom: 2%;
}
.information h1{
    margin-bottom: 5%;
}

.information button{
    background-color: #222;
    border-color: transparent;
    margin-bottom: 5%;
    margin-top: 2%;
    color: #c78c06;
}

.information p{
    padding-bottom: 2%;
}



  /***********************************************************
                    END OF CONTACT SECTION
***********************************************************/
  /***********************************************************
                        BOB SECTION
***********************************************************/
.bob h1{
    margin-left: 2%;
}

.bob{
    background-color: #ffe6ac;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 3%;
 }

 .bob h2, .bob p{
    padding-top: 2%;
    padding-bottom: 3%;
}

.bob h2, .bob h3, .bob p, .bob button{
    margin-left: 2%;
    margin-right: 2%;
}

.bobimg{
    width: 100%;

}
/**********************************************************
                    END OF BOB SECTION
***********************************************************/

/***********************************************************
                        JOHN SECTION
***********************************************************/
.our-team h1{
    margin-left: 2%;
}

.john{
    background-color: #ffe6ac;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 3%;
 }

 .john h2, .john p{
    padding-top: 2%;
    padding-bottom: 3%;
}

.john h2, .john h3, .john p, .john button{
    margin-left: 2%;
    margin-right: 2%;
}

.johnimg{
    width: 100%;

}
/**********************************************************
                    END OF JOHN SECTION
***********************************************************/

/***********************************************************
                     SECOND - OVERLAY
***********************************************************/
.overlay-second h1 {
    letter-spacing: 2px;
    line-height: 50px;
    padding-top: 3%;
    font-size: 20px;
}

.overlay-second h1, .overlay-second p{
    color: white;
    margin: 2%;
}

.overlay-second p{
    font-size: 80%;
    padding-bottom: 2%;
    line-height: 15px;
}

.overlay-second, .overlay-second button{
    margin-left: 2%;
    margin-right: 2%;
}
.overlay-second button{
    background-color: rgba(0, 0, 0, 0.555);
    border: 1px solid #c78d0665;
    padding: 5% 5%;
    margin-bottom: 5%;
    color: white;
}

.second-banner{
    background-image: url("../images/vision.jpg");

    background-repeat: no-repeat;

    background-size: cover;
    height: 220px;
    
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
}
/***********************************************************
                    END OF SECOND OVERLAY
***********************************************************/


.print button{
    background-color: #222;
    border-color: transparent;
    padding: 5% 5%;
    margin-bottom: 2%;
    color: white;
}

.print{
   background-color: #ffe6ac;
   margin-left: 2%;
   margin-right: 2%;
   margin-top: 3%;
}

.print h2, .print p{
    padding-top: 2%;
    padding-bottom: 3%;
}

.print h2, .print p, .print button{
    margin-left: 2%;
    margin-right: 2%;
}

.printimg{
    width: 100%;
}

.web-development button{
    background-color: #222;
    border-color: transparent;
    padding: 5% 5%;
    margin-bottom: 2%;
    color: white;
}

.web-development{
   background-color: #ffe6ac;
   margin-left: 2%;
   margin-right: 2%;
   margin-top: 3%;
}

.web-development h2, .web-development p{
    padding-top: 2%;
    padding-bottom: 3%;
}

.web-development h2, .web-development p, .web-development button{
    margin-left: 2%;
    margin-right: 2%;
}

.webdevimg{
    width: 100%;
}

.video-production button{
    background-color: #222;
    border-color: transparent;
    padding: 5% 5%;
    margin-bottom: 2%;
    color: white;
}

.video-production{
   background-color: #ffe6ac;
   margin-left: 2%;
   margin-right: 2%;
   margin-top: 3%;
}

.video-production h2, .video-production p{
    padding-top: 2%;
    padding-bottom: 3%;
}

.video-production h2, .video-production p, .video-production button{
    margin-left: 2%;
    margin-right: 2%;
}

.videoimg{
    width: 100%;
}

.marketing button{
    background-color: #222;
    border-color: transparent;
    padding: 5% 5%;
    margin-bottom: 2%;
    color: white;
}

.marketing{
   background-color: #ffe6ac;
   margin-left: 2%;
   margin-right: 2%;
   margin-top: 3%;
}

.marketing h2, .marketing p{
    padding-top: 2%;
    padding-bottom: 3%;
}

.marketing h2, .marketing p, .marketing button{
    margin-left: 2%;
    margin-right: 2%;
}

.marketingimg{
    width: 100%;
}

.digital-transformation button{
    background-color: #222;
    border-color: transparent;
    padding: 5% 5%;
    margin-bottom: 5%;
    color: white;
}

/* background colour for our services */
.digital-transformation{
    background-color:#ffe6ac;
}
.digitalimg{
    width: 100%;
}
.about-usimg{
    width: 100%;
    
}

#searchform i{
    zoom: 150%;
    color: #c78c06;
    background-color: #222;
    border: 1px solid #c78c06;
}


.overlay button{
    background-color: #c78c06;
    border-color: transparent;
    padding: 5% 5%;
    margin-bottom: 5%;
}

.overlay{
    background-color:  rgba(34, 34, 34, 0.699);
    position: relative;
    top: 11%;
}

/* star logo propreties */
.logoimg{
    background-color: #c78c06;
    margin-left: 5%;
    margin-right:5%;
    padding-top: 2%;
}

.searchbar{
    padding-bottom: 10px;
}

/* banner proprietes */
.banner{
    background-image: url("../images/main-banner.jpg");

    background-repeat: no-repeat;

    background-size: cover;
    height: 350px;

    display: flex;
    flex-direction: column;
}
/***********************************************************
                        STYLING PARAGRAPH
***********************************************************/





.digital-transformation h2, .digital-transformation p, .digital-transformation button{
    margin: 2%;
}

.our-services h1, .our-services h2{
    padding-top: 5%;
    padding-bottom: 3%;
}

.our-services{
    padding-left: 2%;
    padding-right: 2%;
}

/* header proprieties */
header{
    background-color: #222;
    padding-top: 5%;
    padding-bottom: 5%;
}

.about-us P{
    padding-bottom: 5%;
}

/* background colour for about us and position */
.about-us{
    background-color: #ffe6ac;
    padding-left: 2%;
    padding-top: 2%;
    padding-right: 2%;
}

.about-us h1{
    padding-bottom: 5%;
}

/* moving the texts as a group */
.overlay h1, .overlay p, .overlay button{
    position: relative;
    top: 5%;
}

/* header of overlay */
.overlay h1 {
    font-size: 35px;
    letter-spacing: 2px;
    line-height: 50px;
    padding-top: 3%;
}

.overlay h1, .overlay p{
    color: white;
    margin: 2%;
}

.overlay p{
    font-size: 80%;
    padding-bottom: 2%;
    line-height: 15px;
}




/***********************************************************
                            DESKTOP
***********************************************************/
@media only screen and (min-width: 760px){

    html{
        font-size: 15px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    h1{
        font-size: 250%;
        font-weight: bold;
    }

    .about-us > h1{
        padding-bottom: 10px;
        text-align: justify;
        float:right;
        margin-right: 45%;
    }
    
    .about-us{
        background-color: #ffe6ac;
        
    }
    
    .about-us p{
        margin-left: 20px;
    }
    
    .about-usimg{
        resize: 10%;
        width: 40%;
        
    }
    
    /***********************************************************
                                NAV
    ***********************************************************/
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
      
    }
    
    li a:hover {
        background-color: #c78c06;
        color:black;
      }
    
    li a{
        display: block;
        color: #c78c06;
    }
    
    
    nav ul{
        text-align: center;
    }
    
    nav li{
        display: inline;
        float:left;  /* this will make the li elements, which are block elements, sit next to each other*/
    }
    
    nav li a{
        text-align: center;
        position: relative;
        top: 30px;
        left: 100px;
        margin-left: 40px;
        margin-right: 30px;
        padding: 15px;
    }
    nav a{
        margin:0 0;/* Xpx on the top and bottom, Xpx on the left and right*/
        text-decoration: none;/* removes the underline default from the links */
    }
    
    form{
        text-align: center;
    }
    
    nav ul {
        overflow: hidden;
    }
    
    nav ul input[type=text] {
        float: right;
        padding: 6px;
        border: none;
        margin-top: 35px;
        margin-right: 40px;
        font-size: 17px;
      }
    
      /***********************************************************
                                CONTENT
    ***********************************************************/
    
    .about-usimg .digitalimg .johnimg{
        width: 200px
    }
    
    
    @import url('https://fonts.googleapis.com/css2?family=Open+San&display=swap');
    .container{
    width: 1200px;
    background: white;
    font-family: 'Open Sans' , sans-serif;
}
    .container{
    
        /* centers the childrens from the class using-viewport */
        margin-left: auto;
        margin-right: auto;
    
        /* percent responds to the element's parent, in this case the element with the class .using-viewport */
        
        background-position: center;
    
  
    
    }
    
    .toplogo{
        position: relative;
        left: 5%;
        padding-left: 100% ;
    }
    
    .main-bannerimg{
     
        width:1200px;
       
    
        margin-top: 30px ;
       
    /* 
        position:absolute;
        z-index:-1; */
    }
    
    .banner{
        background-image: url("../images/main-banner.jpg");
    
        background-repeat: no-repeat;
    
        background-size: cover;
        height: 600px;
    
        display: flex;
        flex-direction: column;
    }
    
    .overlay{
    
        background-color: #222;
        background-size: 10px 30px;
        
        height: auto;
        bottom: 300px;
    }

}








