/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***********************************************************
                            MOBILE
***********************************************************/

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    nav {
        
        overflow: hidden;
        background-color: rgb(71, 71, 71);
        position: relative;

    }
    
    nav li a, form {
        text-align: center;
        margin-left: 92px;
        margin-right: 60px;
        position: relative;
        top: -5px;
        z-index: 4;
     }

    
    
}

.about-usimg .digitalimg .johnimg{
    width: 200px
}

.container{
    /* centers the childrens from the class using-viewport */
    margin-left: auto;
    margin-right: auto;

    /* percent responds to the element's parent, in this case the element with the class .using-viewport */
    background-color: #222;
    background-position: center;

    width: 1200px;

/* z-index: 4; */
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
}

li a:hover {
    background-color: #c78c06;
    color:black;
  }

li a{
    display: block;
    color: #c78c06;
}


nav{
    display:inline;
}

nav li{
    float:left;  /* this will make the li elements, which are block elements, sit next to each other*/
}

nav li a{
    text-align: center;
    position: relative;
    margin-left: 50px;
    margin-right: 100px;
    padding: 15px;
}
nav a{
    padding: 8px;
    margin:0 0;/* Xpx on the top and bottom, Xpx on the left and right*/
    text-decoration: none;/* removes the underline default from the links */
}

.toplogo{
    position: relative;
    left: 5%;
}




