/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start of main page code
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

html{
    font-size: 15px;
    /* sets a default font-family for the page
    always provide a list of fonts as fall back options - end with a generic font type */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


/* setting colour background to the page only towards the body */
body{
    
    background-color: rgb(140, 216, 203);
    background-repeat:repeat; 
    
}

/**************************************************
                        NAV
****************************************************/
nav > ul >li {
    display: inline-block;
    width: initial;

    white-space:nowrap;

    transform: translate(5px, 0);

    margin: 0;
}

/* creating a vertical border and targets after each words */
nav ul li:not(:last-child)::after{
    content:""; 
    border:20px solid #000000;
    border-width: 15px 0.5px 0 0;
    position: relative;
    
    /* using left to move the border */
    left: 15px;
    margin-right: 0px;
}

nav li a {
    text-align: center;
    margin-left: 87px;
    margin-right: 60px;
 }
 
nav{
    position:relative;
    height: 30px;
    margin: 40px;
    display:inline;
}

nav li{
    float:center;  /* this will make the li elements, which are block elements, sit next to each other*/
}

nav a{
    margin:0 0;/* Xpx on the top and bottom, Xpx on the left and right*/
    text-decoration: none;/* removes the underline default from the links */
}

/* target the span inside, anchor tags, inside list items, inside the nav */
nav li a span{
    font-size: 1.6rem; /* 1.6 time the root font size set in HTML*/
    line-height: 2.5; /* 2.5 times the font size of this element*/
    color: rgb(0, 0, 0);
}


/* making no matter the visited, viewed or hover links. They will always be black */
a:link{
    color: black;
    font-weight: bold;
}

a:visited{
    color: black;
    font-weight: bold;
}

a:active{
    color: black;
    font-weight: bold;
}

/**************************************************
                    MAIN CONTENT
****************************************************/

/* applies bold text to the title page */
.title-page{
    font-weight: bold;
    position: center;
    margin-left: 10px;
    margin-right: auto;
}


.using-viewport{
    /* centers the childrens from the class using-viewport */
    position: center;
    margin-left: auto;

    /* percent responds to the element's parent, in this case the element with the class .using-viewport */
    background-color: rgb(191, 218, 214);
    background-position: center;
    width:44%;
    height:40%; /*height can be using % because of "class="using-percent" */

    font-weight: 380; /*font weight is how thick the font is*/

    letter-spacing: 0.1em; /*set the space between the letter (kerning)*/

    text-decoration:none; /* if you want to remove the underline from links, set text-decoration none */
    
    /* if you have a lise, use list-style to control the bullets */
    list-style:none; /*this removes bullets from a list (but is already in the CSS reset) */

}


/**************************************************
                        CONTENT
****************************************************/
.facts-header{
    font-weight: bold;
}

.starfish-subject{
    position: center;
    margin-left: 10px;
    margin-right: auto;
}

#starfish-phrase{
    text-align: justify;
    width: 585px;
}

.facts-starfish{
    margin-left: 10px;
    margin-right: auto;
    margin-bottom: 10px;
}

#contact-title{
    font-weight: bold;
    position: center;
    margin-left: 10px;
    margin-right: auto;
}

#message{
    /* making the text box taller */
    margin-top: 5px;
    height: 50px;
    width: 560px;
}

#username, #useremail{
    margin-top: 5px;
    width: 560px;
    height: 15px;
}

.form-position{
    display: block;
    position: center;
    margin-left: 10px;
    margin-right: auto;
}
footer{
    /* relative is to move it but keeping it to the box */
    position: relative;
    left: 78%;
}

form{
    display: block;
    /* creating a border box */
    border: 1.5px solid rgb(0, 0, 0);
    position: relative;
    left: 10px;
    width: 585px;
    height: 310px;
}

#send-button{
    text-align:initial;
    font-size: 60%;
    border: 1.5px solid rgb(0, 0, 0);
    position: relative;
    width: 36px;
    height: 20px;
    
}

#send-text{
    position: absolute;
    left: 5px;
    bottom: 5px;
}

/**************************************************
                    IMAGES CONTENT
****************************************************/
/* maximazing top image to its max potential */
.top-image{
    width: 100%;
}

.starfish-sub-pic{
    margin-right: 10px;
    float: left;
    position: relative;
    width: 150px;
}

/* positioning h2 from div "top-image" */
h2 {
    position: absolute;
    top: 52%;
    left: 78%;
    transform: translate(-50%, -590%);
}

/* to style the h2 from the div "top-image" */
h2 span{
    color: white;
    font-size: 300%;

}