/* CSS file for week 6 class example */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start of main page code
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

html{
    font-size: 22px;
    /* sets a default font-family for the page
    always provide a list of fonts as fall back options - end with a generic font type */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


/* setting colour background to the page only towards the body */
body{
    background-color: rgb(140, 216, 203);
    background-repeat:repeat; 
}

/**************************************************
                        NAV
****************************************************/


nav{
    display: block;
    height: 44px;
    margin-bottom: 20px;
    border-bottom: 2px;
    font-weight: bold;
    position: relative;
    
    bottom: 60%;

}

nav li{
    float:left;  /* this will make the li elements, which are bloack elements, sit next to each other*/
}

nav a{
    display:inline-block; /* make the anchor tags into boxes so we can do something interesting to them*/
    text-align: center;
    margin:0 5px;/* 0 on the top and bottom, 5px on the left and right*/
    text-decoration: none;/* removes the underline default from the links */
    width: 142px;
    height: 44px;
}

/* target the span inside, anchor tags, inside list items, inside the nav */
nav li a span{
    display: block;
    float: left;
    font-size: 1.6rem; /* 1.6 time the root font size set in HTML*/
    line-height: 2.5; /* 2.5 times the font size of this element*/
    color: blue;
}

/* applies bold text to the title page */
.title-page{
    font-weight: bold;
}


.using-viewport{

    /* centers the childrens from the class using-viewport */
    display: block;
    position: center;
    margin-left: auto;
    margin-right: auto;

    /* percent responds to the element's parent, in this case the element with the class .using-viewport */
    background-color: rgb(191, 218, 214);
    background-position: center;
    width:40%;
    height:50%; /*height can be using % because of "class="using-percent" */

    font-weight: 380; /*font weight is how thick the font is*/

    letter-spacing: 0.1em; /*set the space between the letter (kerning)*/

    text-decoration:none; /* if you want to remove the underline from links, set text-decoration none */
    
    /* if you have a lise, use list-style to control the bullets */
    list-style:none; /*this removes bullets from a list (but is already in the CSS reset) */

}

/**************************************************
                        CONTENT
****************************************************/

form{
    border: 2px solid rgb(0, 0, 0);
}

#contacttile{
    font-weight: bold;
}

#message{
    /* making the text box taller */
    height: 80px;
    width: 860px;
}

#username, #useremail{
    width: 860px;
    height: 20px;
}

.form-position{
    position: center;
    margin-left: 10px;
    margin-right: auto;
}
footer{
    /* relative is to move it but keeping it to the box */
    position: relative;
    left: 78%;
}

form{
    position: relative;
    left: 10px;
    width: 885px;
    height: 420px;
}

